.react-calendar__tile {
    border-radius: 50%;
    background-color: #eef5ff;
    color: #222222;
    border: 8px solid #ffffff;
}

.react-calendar__tile--active {
    font-weight: 600;
    background: #0069ff;
    color: #ffffff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #e6e6e6;
}

.react-calendar__tile:disabled {
    background-color: #ffffff;
    color: #999999;
}

.react-calendar {
    width: 95%;
    border: none;
}

.react-calendar button {
    margin: 5;
    border: solid 3px #ffffff;
    outline: none;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    height: 30px;
}

.react-calendar__navigation button:disabled {
    background-color: #ffffff;
}

.react-calendar__month-view__days {
    row-gap: 5px;
    grid-column-gap: revert;
}

.react-calendar__month-view__weekdays {
    row-gap: 5px;
    grid-column-gap: revert;
}

.react-calendar {
    width: 100%;
    border: none;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    height: 45px;
}
